

# Assignment 1
/assignment-1---tokenization/__MACOSX
/assignment-1---tokenization/ap89_collection_small/
/assignment-1---tokenization/.DS_Store

/assignment-1---tokenization/docids.txt
/assignment-1---tokenization/term_index.txt
/assignment-1---tokenization/termids.txt